@charset "UTF-8";
.list {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: roboto, sans-serif;
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

.container-menu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .container-menu {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-menu {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-menu {
    width: 1200px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

/*Меню*/
.site-nav {
  margin-left: 93px;
}
@media screen and (max-width: 300px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 301px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link-menu {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link-menu.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  right: 0;
  width: 100%;
  background-color: #2196f3;
  border-radius: 1px;
}

.menu__link-menu:hover,
.menu__link-menu:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.site-contakt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .site-contakt__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contakt__item {
    margin-right: 40px;
  }
}
.site-contakt__link-icon:hover, .site-contakt__link-icon:focus {
  color: #2196f3;
}
.site-contakt__link-icon {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.site-contakt__link-icons {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
@media screen and (max-width: 479px) {
  .site-contakt {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .site-contakt {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-contakt {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-open {
  background-color: #ffffff;
  border: none;
  margin-left: auto;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.nav__logo {
  padding: 24px 0px 25px 0px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (min-width: 480px) {
  .nav__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.nav__span {
  color: #2196f3;
}

.container-hero {
  background-color: #212121;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero mobile 2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero mobile 2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero tablet.jpg");
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero tablet 2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero tablet 2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-position: center;
    margin: 0px auto;
    max-width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero 2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero 2x.jpg");
  }
}
.container-hero__hero-title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .container-hero__hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1400px) {
  .container-hero__hero-title {
    width: 1400px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  max-width: 528px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close:hover, .close:focus {
  fill: #2196f3;
}

.form {
  padding: 0px 40px;
}
.form__form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

.field__modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form {
  position: relative;
}
.modal-form__modal-input:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
}
.modal-form__modal-input:focus ~ .modal-form__form-icons {
  fill: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
}
.modal-form__modal-icons {
  position: relative;
}
.modal-form__form-icons {
  position: absolute;
  -webkit-transform: translateX(-435px);
          transform: translateX(-435px);
  top: 15%;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
}
@media screen and (max-width: 1199px) {
  .modal-form__form-icons {
    -webkit-transform: translateX(-361px);
            transform: translateX(-361px);
  }
}
.modal-form__modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 42px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
}
@media screen and (max-width: 1199px) {
  .modal-form__modal-input {
    width: 370px;
  }
}
.modal-form__modal-label {
  position: absolute;
  left: 0px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__comment-label {
  position: absolute;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__textarea {
  width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
    line-height: 1.17;
  }
}
.checkbox-label__checkbox:checked:focus ~ .checkbox-label__check-box {
  background-image: url("../images/iconcheck.svg");
}
.checkbox-label__checkbox:focus ~ .checkbox-label__check-box {
  background-image: url("../images/Vector.svg");
}
.checkbox-label__check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url("../images/Vector.svg");
  display: inline-block;
  left: 52px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
@media screen and (max-width: 1199px) {
  .checkbox-label__check-box {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    left: 40px;
  }
}
.checkbox-label__check-label {
  padding-left: 36.38px;
}
@media screen and (max-width: 1199px) {
  .checkbox-label__check-label {
    padding-left: 24.38px;
  }
}
.checkbox-label__checkbox-link {
  color: #2196f3;
}
.checkbox-label__checkbox-link:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 120px;
  height: 2px;
  width: 119px;
  background-color: #2196f3;
  margin-right: 62px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (max-width: 1199px) {
  .checkbox-label__checkbox-link:after {
    right: -10px;
    bottom: 130px;
    width: 98px;
  }
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.button {
  padding: 10px 32px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  border: #ffffff;
  cursor: pointer;
  font-family: "Roboto";
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-open {
    background-color: transparent;
    border-color: transparent;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #ffffff;
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon:hover, .header-icon:focus {
  fill: #2196f3;
}

.mob-nav {
  margin-bottom: 30px;
}

.mob-nav__link .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav__link .link:focus, .mob-nav__link .link:hover {
  color: #2196f3;
}

.mob-nav__link:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link .mob-nav__link--current {
  color: #2196f3;
}

.communication-mob {
  margin-bottom: 64px;
}
.communication-mob li:not(:last-child) {
  margin-bottom: 32px;
}

.communication-mob .link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.communication-mob .link:hover, .communication-mob .link:focus {
  color: #2196f3;
}

.communication-mob .mob-tel {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}
.communication-mob .communication-mob .mob-tel:hover, .communication-mob .mob-tel:focus {
  color: #757575;
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.header-socials .link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.header-social__items:not(:first-child) {
  position: relative;
}
.header-social__items:not(:first-child)::before {
  position: absolute;
  content: "";
  left: -10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-close {
  position: fixed;
  top: 10px;
  right: 15px;
}
@media screen and (max-width: 767px) {
  .menu-close {
    background-color: transparent;
    border-color: transparent;
  }
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-features {
  min-width: 320px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.box-item {
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.box-item__item-icons {
  width: 65.32px;
  height: 70px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .features {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 30px;
  }
}
.features__features-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .features__features-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__features-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__features-title {
    text-align: left;
  }
}
.features__features-text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 768px;
    margin-right: 30px;
    max-width: calc((100% - 30px) / 2);
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 1200px;
    max-width: calc((100% - 90px) / 4);
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 479px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .section-work {
    display: inline;
  }
}

.container-work {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.container-work__section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.annex {
  text-align: center;
}
.annex__annex-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 27px;
}

.applications {
  position: relative;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.container-team {
  min-width: 320px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.container-team__section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .container-team__section-title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .register {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.register__item-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.register__item-card:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .register__item-card {
    width: 450px;
    height: 460px;
  }
  .register__item-card:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .register__item-card {
    width: 354px;
  }
  .register__item-card:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .register__item-card {
    max-width: 1200px;
    width: 270px;
  }
  .register__item-card:not(:last-child) {
    margin-right: 30px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__social-link:hover, .social__social-link:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__social-link:hover svg, .social__social-link:focus svg {
  fill: #ffffff;
}
.social__team-icons:hover, .social__team-icons:focus {
  fill: #ffffff;
}
.social__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-right: 35px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__team-icons {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__social-link:not(:last-child) {
  margin-right: 10px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-content__team-title {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-content__team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .team-content {
    height: 162px;
  }
}
@media screen and (min-width: 768px) {
  .team-content {
    height: 162px;
  }
}

.section-clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding: 94px 0;
  }
}

.container-clients {
  margin: 0px auto;
  padding: 0px 15px;
}
.container-clients__clients-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .container-clients {
    margin-bottom: 30px;
  }
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.customers__customers-item:hover, .customers__customers-item:focus {
  border: 1px solid #2196f3;
}
.customers__logo-clients:hover, .customers__logo-clients:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__customers-item {
  margin-top: 50px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .customers__customers-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 3);
        flex-basis: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .customers__customers-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .customers__customers-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.customers__customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers__logo-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .customers__logo-clients {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .customers__logo-clients {
    padding: 16px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__logo-clients {
    padding: 16px 30px;
  }
}
.customers__logo-clients {
  fill: #afb1b8;
}

/*.customers__customers-item:not(:last-child) {
  margin-right: 30px;
}*/
.footer {
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}

.container-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .container-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .container-contacts {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts {
    gap: 93px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.wrap__logo-footer {
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .wrap__logo-footer {
    text-align: center;
    margin-left: 30px;
  }
}

.address {
  display: block;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.contact {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
}
.contact:last-child {
  margin: 0;
}
.contact__contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__contact-link:hover, .contact__contact-link:focus {
  color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .contact__contact-link {
    margin-left: 30px;
  }
}
.contact__item-link {
  color: #ffffff;
  text-decoration: none;
}
.contact__item-link:hover, .contact__item-link:focus {
  color: #2196f3;
}

.social-networks__networks-title,
.form-footer__form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .social-networks__networks-title,
.form-footer__form-title {
    text-align: center;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer-social__footer-link:hover, .footer-social__footer-link:focus {
  background-color: #2196f3;
}
.footer-social__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__social-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/*.footer-social__team-icons {
  fill: currentColor;
}*/
@media screen and (max-width: 767px) {
  .form-footer__form-title {
    text-align: center;
  }
}

.form-footer__form-input {
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0 18px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-footer__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__form-input {
    width: 350px;
  }
}
.form-footer__form-input__form-input:focus {
  border: 1px solid #2196f3;
}

.form-footer__form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__form-btn {
  padding: 10px 0;
  min-width: 200px;
}
@media screen and (max-width: 767px) {
  .form-footer__form-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .form-footer__form-btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__form-btn {
    display: inline-block;
    margin-left: 12px;
    margin-top: 0;
  }
}

.wrap__logo-footer {
  margin-bottom: 20px;
  display: inline-block;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 1199px) {
  .wrap__logo-footer {
    text-align: center;
  }
}

.wrap__span {
  color: #2196f3;
}

.form-footer {
  margin-left: 23px;
}
@media screen and (max-width: 1199px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form-footer__form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.form-footer__form-input {
  padding: 15px 0px 15px 16px;
  font-size: 16px;
  line-height: 20px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .form-footer__form-input {
    margin-bottom: 20px;
  }
}
.form-footer__form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-position: 148px 13px;
  text-align: left;
  padding-left: 28px;
}

.button-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.container-button {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio__portfolio-button:hover, .portfolio__portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__portfolio-button {
  border: none;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.work-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.work-portfolio__card-item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-content__work-titly {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.card-content__work-text {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.card-work {
  position: relative;
  overflow: hidden;
}

.animation {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.animation__animation-text {
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card__overlay-link:hover .animation,
.card__overlay-link:focus .animation {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */