.form {
  padding: 0px 40px;

  &__form-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: $primary-text-color;

    text-align: center;
    margin-bottom: 30px;
  }
}
.field__modal-item {
  display: flex;
}

.modal-form {
  position: relative;

  &__modal-input:focus {
    outline: none;
    border: 1px solid $accent-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  }

  &__modal-input:focus ~ &__form-icons {
    fill: $accent-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  }

  &__modal-icons {
    position: relative;
  }

  &__form-icons {
    position: absolute;
    transform: translateX(-435px);
    top: 15%;
    transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  }

  &__modal-input {
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: $primary-text-color;

    display: inline-block;
    margin-bottom: 30px;
    padding-left: 42px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  }

  &__modal-label {
    position: absolute;
    left: 0px;
    transform: translateY(-20px);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $title-text-color;
  }
}

.field__comment-label {
  position: absolute;
  transform: translateY(-20px);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $title-text-color;
}

.field__textarea {
  width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  padding: 12px 16px;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  color: $title-text-color;

  margin-top: 20px;
  margin-bottom: 30px;

  &__checkbox:checked:focus ~ &__check-box {
    background-image: url("../images/iconcheck.svg");
  }

  &__checkbox:focus ~ &__check-box {
    background-image: url("../images/Vector.svg");
  }

  &__check-box {
    position: absolute;

    width: 16px;
    height: 15px;
    background-image: url("../images/Vector.svg");

    display: inline-block;
    left: 52px;
    transform: translateY(2px);
  }

  &__check-label {
    padding-left: 36.38px;
  }

  &__checkbox-link {
    color: $accent-color;
  }

  &__checkbox-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 120px;
    height: 2px;

    width: 119px;
    background-color: $accent-color;

    margin-right: 62px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
