.form-footer {
  margin-left: 23px;

  &__form-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-white-color;
  }

  &__form-input {
    padding: 15px 0px 15px 16px;

    font-size: 16px;
    line-height: 20px;
    width: 358px;
    height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    color: $primary-white-color;
  }

  &__form-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    background-image: url(../images/telegram.svg);
    background-repeat: no-repeat;
    background-position: 148px 13px;
    text-align: left;
    padding-left: 28px;
  }
}
