header {
  border-bottom: 1px solid #ececec;
}

.container-menu {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0px 15px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 93px;
}

/*Меню*/

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link-menu {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link-menu.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  right: 0;

  width: 100%;

  background-color: $accent-color;
  border-radius: 1px;
}

.menu__link-menu:hover,
.menu__link-menu:focus {
  color: $accent-color;
}

.current {
  color: $accent-color;
}

.site-contakt {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__link-icon:hover,
  &__link-icon:focus {
    color: $accent-color;
  }

  &__link-icon {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }

  &__link-icons {
    margin-right: 10px;
    vertical-align: middle;

    fill: currentColor;
  }
}
.site-contakt__item:not(:last-child) {
  margin-right: 50px;
}
