.nav__logo {
  padding: 24px 0px 25px 0px;

  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.nav__span {
  color: $accent-color;
}
