.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  transition: cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;

  min-width: 528px;
  min-height: 581px;

  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: #000000;

  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
