.container-portfolio {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.work-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__card-item:hover {
    background: $primary-white-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  &__work-titly {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
  }

  &__work-text {
    font-size: 16px;
    line-height: 1.9;
    color: $title-text-color;
  }
}

.card-work {
  position: relative;
  overflow: hidden;
}

.animation {
  display: inline-block;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__animation-text {
    padding: 63px 24px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 1.56;

    color: $primary-white-color;
  }
}

.card__overlay-link:hover .animation,
.card__overlay-link:focus .animation {
  transform: translateY(0%);
}
