.section-clients {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}

.container-clients {
  margin: 0px auto;
  padding: 0px 15px;

  &__clients-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;

    line-height: 1.17;
    color: $primary-text-color;

    @media screen and (max-width: 1199px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
}

.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @include tab {
    flex-wrap: wrap;
  }
  @include mobile {
    flex-wrap: wrap;
  }
  @include desktop {
    flex-wrap: nowrap;
  }

  &__customers-item:hover,
  &__customers-item:focus {
    border: 1px solid $accent-color;
  }

  &__logo-clients:hover,
  &__logo-clients:focus {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__customers-item {
    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 100%;

    @include tab {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include tablet {
      flex-basis: calc((100% - 60px) / 3);
    }

    @include desktop {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  /*&__customers-item:not(:last-child) {
    margin-right: 30px;
  }*/

  @include tab {
    /* &__customers-item:nth-child(2n) {
      margin-right: 30px;
    }*/
  }

  &__logo-clients {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tab {
      padding: 16px 0;
    }

    @include tablet {
      padding: 16px 0px;
    }

    @include desktop {
      padding: 16px 30px;
    }
  }

  &__logo-clients {
    fill: #afb1b8;
  }
}

/*.customers__customers-item:not(:last-child) {
  margin-right: 30px;
}*/
