.section-clients {
  padding-bottom: 94px;
}

.container-clients {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;

  &__clients-title {
    padding-top: 94px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: $primary-text-color;
  }
}

.customers {
  display: flex;
  align-items: center;
  justify-content: center;

  &__customers-item:hover,
  &__customers-item:focus {
    border: 1px solid $accent-color;
  }

  &__logo-clients:hover,
  &__logo-clients:focus {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__customers-item {
    margin-top: 50px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
  }

  &__logo-clients {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
  }

  &__logo-clients {
    fill: #afb1b8;
  }
}

.customers__customers-item:not(:last-child) {
  margin-right: 30px;
}
